<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="License" type="com.dr.license.entity.License" />
        <typeAlias alias="VerificationHistory" type="com.dr.license.entity.VerificationHistory" />
    </typeAliases>

    <mappers>
    </mappers>
</configuration>    